<% layout('/Layouts/boilerplate') -%>
<div class="row"> 
  <div class="col-8 offset-2">
    <h3 class="mt-4">Create a New Listing</h3>
    <form method="POST" action="/listing">
      <div class="mb-3">
        <label for="tittle" class="form-label">Enter Tittle</label>
        <input name="listing[title]" type="text" class="form-control"/>
      </div>
      <div class="mb-3">
        <label for="discription" class="form-label">Description</label>
        <textarea name="listing[description]" placeholder="Enter description" class="form-control"></textarea>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label">Image</label>
        <input name="listing[image]" placeholder="Enter image URL/Link" type="text" class="form-control"/>
      </div>
      <div class="row row-col-1 ">
        <div class="mb-3 col-md-4">
          <label for="price" class="form-label">Enter price</label>
          <input name="listing[price]" placeholder="1000 Rs." type="number" class="form-control"/>
        </div>
        <div class="mb-3 col-md-8">
          <label for="country" class="form-label">Country</label>
          <input name="listing[country]" placeholder="India" type="text" class="form-control"/>
        </div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label">Enter Location</label>
        <input name="listing[location]" placeholder="Jais , Amethi , Uttarpradesh" type="text" class="form-control"/>
      </div>
      <button class="btn  mb-3" type="submit">ADD</button>
    </form>

  </div>
  
</div>
    