.body{
  margin: 0 6rem;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container{
  flex: 1;
}
.navbar{
    height: 5rem;
    background: white;
    border-bottom: 2px solid #8e8c8c;
}

.fa-compass{
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

.site-footer {
    background-color: #cccaca;
    color: #222222;
    padding: 20px;
    display: flex;
    flex-direction: column; /* Updated to make it a column layout */
    align-items: center; /* Center align content horizontally */
    text-align: center; 
  }
  
.footer-line {
    flex: 1;
    margin: 10px;
  }
  
.social-icons a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
  }
  
.social-icons i {
    font-size: 1.5rem;
  }
  
.copyright {
    font-size: 14px;
  }
  
.company-name {
    font-weight: bold;
  }
  
.footer-links a {
    text-decoration: none;
    color: black;
    margin-right: 10px;
    transition: text-decoration 0.1s linear;
  }
  
.footer-links a:hover {
    text-decoration: underline;
  }

.card{
  border: none !important;
  margin: 2rem 0.6rem 0 0.6rem !important;
}

.card-img-top{
  border-radius: 1rem !important;
  width: 100% !important;
  object-fit: cover !important;
}

.card-body{
  padding: 0 !important;
}

.btn{
  background-color: #fe424d !important;
  border: none !important;
  color: wheat !important;
}

.show-img{
  height: 30vh;
}

.btns{
  display: flex;
  margin-bottom: 22px;
}

.edit_btn{
  height: 50% !important;
  margin-right: 10px;
}