  <footer class="site-footer">
    <div class="footer-line">
      <div class="social-icons">
        <a href="#" target="_blank"><i class="fab fa-facebook"></i></a>
        <a href="#" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="#" target="_blank"><i class="fab fa-instagram-square"></i></a>
      </div>
    </div>
    <div class="footer-line">
      <div class="copyright">
        &copy; <span class="company-name">Wander Lust Pvt. Ltd.</span>
      </div>
    </div>
    <div class="footer-line">
      <div class="footer-links">
        <a href="#" class="footer-link">Privacy</a>
        <a href="#" class="footer-link">Terms and Conditions</a>
      </div>
    </div>
  </footer>

